.f-wrapper {
  background-color: var(--bgColor);
}
/* .f-container{
    flex-direction: row;
} */

.accordionItem {
  background: var(--bgColor);
  border: 1.5px solid var(--tertiary);
  border-radius: 5rem 7rem 4rem 5rem;
  border-bottom: 0px;
  border-right: 0.5px solid var(--tertiary);
  box-shadow: 0px 0px 10px var(--boxShadow);
  overflow: hidden;
}
.accordionItem.expanded {
    border: 1.5px solid var(--tertiary);
    border-radius: 5rem 7rem 0rem 0rem;
    box-shadow: 0px 0px 10px var(--boxShadow);
    border-bottom: 0px;
    border-right: 0.5px solid var(--tertiary);
    padding: 0.7rem 2rem 1rem 2rem;
}


.accordion-item-wrapper.left {
  float: left;
  margin-right: 20px;
}

.accordion-item-wrapper.right {
  float: right;
  margin-left: 20px;
}
.accordionItem.expanded .accordionButton .heading {
  color: var(--tertiary);
}

.accordionButton {
  background: var(--bgColor);
  padding: 1rem;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}

.accordionButton .heading {
  color: var(--secondary);
  font-size: 0.7rem;
  font-weight: 500;
}
.detail {
  color: var(--secondary);
  font-size: 0.7rem;
  font-weight: 400;
}

.accordion-item-wrapper {
  width: 45%; 
  margin: 10px; 
}

@media (max-width: 1024px) {
  .f-container {
    flex-direction: column;
  }
  @media (max-width: 768px) {
   
  }
}
